<main class="bg-zinc-800 min-h-screen px-4 py-16 sm:px-6 lg:px-8 text-white">
  <div class="mx-auto max-w-4xl">
    <div class="px-6 py-8 border-4 border-white">
      <.flash_group flash={@flash} />
      {@inner_content}
    </div>
  </div>
</main>
